page-nueva-pelicula {

    ion-item{
        &.item-md-danger, &.item-ios-danger, &.item-wp-danger{
            background-color: transparent;
            color: color($colors, danger);
        }

        &[hidden]{
            display: block !important;
            opacity: 0;
            visibility: hidden;
            transition-property: opacity, visibility;
            transition-duration: 0.3s;
            transition-delay: 0.3s;
        }
    }

}
